{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<!DOCTYPE html>
<html>
<head>
	<title>Welcome to my page!</title>
</head>
<body>
	<!-- HEADER -->
	<div id="header">
		<h1 id="hello_message">Welcome to YOUR page!</h1>
	</div>

	<!-- CONTENT -->
	<div id="content">
		<p>Hi!</p>
		<p>This is your <strong>NEW</strong> page.</p>
		<p>You are going to work to make it pretty now!</p>
		<p>It's easy peasy!</p>
		<p>All you have to do is get some interesting content and put it here.</p>
		<img src="https://farm3.staticflickr.com/2703/4383007425_09f2445734.jpg">
		<p>Feel free to look at some of these resources for cool content:</p>
			<a href="www.google.com">Google for asking questions</a><br/><br/>
			<a href="http://www.w3schools.com/">W3School for help with HTML and CSS</a><br/><br/>
			<a href="http://bit.ly/1DbBbaj">This mysterious link</a><br/><br/>
			<a href="http://www.w3schools.com/html/html_youtube.asp">Embed a YouTube video</a><br/><br/>
			<a href="http://www.jssor.com/index.html">Make a pictures slideshow</a><br/><br/>
	</div>

	<!-- FOOTER -->
	<div id="footer">
		<h2>Good luck!</h2>
	</div>

</body>
</html>