body.ziv
{
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/4/46/67_FS_F-15_Eagle_in_action_at_Red_Flag%E2%80%93Alaska.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #cccccc;
} 